<h3><i class="icon-book"></i>  Kinderbox User Guide</h3>

<h4> Upload new album to your kinderbox </h4>

<ol>
	<li> Go to menu "Add new playlists" </li>
	<li> Choose a zip file from your computer, i.e. JustinTimberlate.zip, this zip file should contain your mp3 files and other files such as a cover.jpg file, for example: </li>
	<br><p> <img  class="thumbnail" src="images/kinderbox-help-zipfile.png"> </p>
	<li> The new album should be in your kinderbox now but it is still now playable. To make it playable, you must have free RFID cards. Make sure you have a free RFID card, go to menu "Show Playlist" and click on the button "Update Kinderbox" </li>
</ol>


<h4> Delete an album from your kinderbox </h4>

<ol>
	<li> To delete an album from your Kinderbox, click on menu "Show Playlists". </li>
	<li> Click on the trash icon at the upper right of the album you want to delete. </li>
	<li> In the dialog box, confirm again.</li>
	<p> <img  class="thumbnail" src="images/kinderbox-delete-album.png"></p>
</ol>


<h4> Find out which album is match with a RFID card </h4>

<ol>
	<li> To find out which album is associated with a RFID card, click on the menu "Matching RFIDs".</li>
	<li> Now take your RFID cards and put it close to the Kinderbox so it can read the RFID card.</li>
	<li> If the RFID card is read correctly and it is associated with an album, you will see only that album showed, alternatively you can also type in the number on the RFID card to see if its matched withn an album. Please note that the Kinderbox will stop playing in order to read the RFID cards. You can turn your Kinderbox off and On again for it to function in the Music playback modus.</li>
</ol>

<h4> Add new RFID cards to your Kinderbox </h4>

<h5> Your Kindebox needs RFID cards to load the music album from your kinderbox, for this you need to add as many RFID cards as you have music album, for example you have 10 music album, then you also need at least 10 RFID cards, each RFID cards represents a music album, thats it. </h5>

<ol>
	<li> Click on "Manage RFID" in the menu and select "SCAN NEW RFID CARDS" </li>
	<li> Now put your RFID cards close to the Kinderbox for it to read the card correctly, if everything is fine you will see a meesage and your RFID card is added to the kinderbox. Please read the RFID card once at a time.Please note that the Kinderbox will stop playing in order to read the RFID cards. You can turn your Kinderbox off and On again for it to function in the Music playback modus. </li>
	<p> <img  class="thumbnail" src="images/kinderbox-scan-new-rfid.png"></p>
</ol>

<h4> RFID Status </h4>

The RFID status give you and overview of the RFID cards in your Kinderbox 
<ol> <li>  Click on "Manage RFID" in the menu and select "RFID info" </li></ol>
<p> <img class="thumbnail" src="images/kinderbox-rfid-status.png"></p>

<ul>
	<li> <span class="label label-success"> Total number of RFID cards: </span>  shows your the number of all RFID cards registered in your Kinderbox. </li>
	<li> <span class="label label-inverse"> Used RFID cards: </span>  Shows you the number of RFID cards associated with an album.</li>
	<li> <span class="label label-info"> Free RFID cards: </span>  Shows you the number of RFID cards available to use for new uploaded album.</li>
</ul>





